.paner {
    position: relative;
    height: 100vh;
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-position: center;
    flex: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.card {
    width: 300px;
    height: 400px;
    background-image: url('/img/model.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    margin: auto; /* Căn giữa card */
}

.card img {
    height: 50px;
    margin-top: 100px;
}

.changBT {
    height: 140px;
    width: 70%;
    background-color: white;
    margin-bottom: 80px;
}



.changBT button img{
    height: 70px;
    width: 80px;
    
}
