/*! Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: #636363;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.container{
    width: 90%;
    margin: auto;
}

.title p{
    font-size: 25px;
    font-weight: 600;
    color: #f55f8d;
}

.title h2{
    font-size: 65px;
    font-weight: 600;
    line-height: 1.1;
    color: black;
}

/*! header */

header{
    width: 90%;
    left: 65px;
    margin: auto;
    position: absolute;
}

.header--conten{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav ul{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    gap: 10px ;
    
}

nav li{
    list-style: none;
    margin: 55px 10px;
}

nav a{
    display: inline-block;
}

nav li a{
    color: black;
    text-decoration: none;
    font-weight: 400;
}


nav li:hover a{
    animation: upToDown 1s;
    color: #f55f8d;
}

nav li:hover i{
    color: #f55f8d;
    transition: all .5s;
}



button{
    width: 200px;
    height: 60px;
    font-size: 15px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: white;
    border: none;
    text-transform: uppercase;
    transition: all .5s;
}

button:hover{
    background-position: right center;
}


@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }

/*! sacarousel */

#sacarousel{
    background-image: url(../img/pic2.png);
    padding-top: 180px;
    transform: scale(1);
    ;
}

.sa--content{
    display: flex;
}

.content--right{
    margin: auto;
    margin-left: 60px;
}

.article p{
    font-size: 20px;
    margin-bottom: 20px;
}

.article ul{
    list-style: none;  
}

.article li i{
    font-size: 40px;
    margin-bottom: 20px; 
}

.article span{
    line-height: 20px;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    position: relative;
    bottom: 5px;
}

/*! service */
#service{
    text-align: center;
    background-image: url(../img/bg2.png);
    padding: 100px 0;
}

.service--content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
    margin-left: 60px;
}

.service--item{
    border-radius: 20px;
    background-color: rgb(252, 252, 252);
    text-align: center;
    transition: all .5s;
    border: 3px dashed transparent;
}

.service--item img{
    width: 80%;
    padding: 20px 0;
}

.service--item h3{
    font-weight: 700;
    color: black;
}

.service--item p{
    width: 80%;
    margin: auto;
    padding: 25px 0;
}

.service--item:hover{
    border-image: url(../img/br.png) 1 round;
    transform: translateY(-20px);
}

/*! about us  */
#aboutUs{
    background-image: url(../img/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
    margin-top: 300px;
    margin-bottom: 100px;
}

.about--content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.aboutus--left{
    width: 50%;
    position: absolute;
    left: -15px;
    
}

.aboutus--left img{
    width: 100%;
    border-radius: 100px;
}

.aboutus--right{
    width: 40%;
    position: absolute;
    left: 55%;
}

.aboutus--right p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.aboutus--right ul{
    list-style: none;
}

.aboutus--right li{
    margin-bottom: 15px;
}

.aboutus--right li i{
    display: inline;
}

.aboutus--right li p{
    display: inline;
}

.anima-duration-2s{
    animation-duration: 2s;
}

.ani_delay-0_2s{
    animation-delay: 0.2s;
}

/*! number  */
#number{
    padding-top: 70px;
    padding-bottom: 50px;
    margin-top: 306px;
    background-image: url(../img/bg14.png);
    background-position: center;
}

.number--content{
    display: flex;
    padding: 0px 100px;
}

.number--item{
    width: 25%;
    text-align: center;
}

.number--item i{
    width: 70px;
    height: 70px;
    font-size: 40px;
    line-height: 70px;
    border-radius: 50%;
    color: white;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
}

.number--item p:first-of-type{
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}

.number--item p:last-of-type{
    color: #262626;
    font-size: 18px;
}

/*! features */

#features{
    background-image: url(../img/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
    margin-top: 100px;
}
.features--content{
    display: flex;
    justify-content: space-between;
}


.features--left{
    width: 50%;
    margin-left: 100px;
}


.group--item{
    width: 550px;
    border-radius: 15px;
    margin: 20px 0px;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    padding: 20px;
    transition: all 1s;
}

.group--item:hover{
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: white;
}

.group--item:hover i, .group--item:hover p {
    color: white;
}

.item--center{
    margin-left: 40px;
}


.group--item i{
    width: 90px;
    height: 90px;
    font-size: 70px;
    line-height: 1;
    text-align: center;
    color: #f55f8d;
}

.group--item p{
    color: #716b6b;
}

.item--content{
    margin: 0 20px;
} 


.features--right{
    width: 50%;
    
}

.features--right img{
    width: 100%;
}

.ani_delay-0_4s{
    animation-delay: 0.4s;
}

.ani_delay-0_6s{
    animation-delay: 0.6s;
}

.ani_delay-0_8s{
    animation-delay: 0.8s;
}


/*! blog */
#blog{
    background-color: aqua;
    padding: 50px 0;
}

#blog .title{
    text-align: center;
}

.blog--content{
    background-color: aqua;
}


.blog--item{
    border-radius: 10px;
    text-align: left;
}

.blog--header img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

/*! footer  */

footer{

    background-image: url(../img/bg4.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer--top{
    margin-top: 100px;
    padding: 50px 60px;
    display: flex;
    background-image: url(../img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.text{
    width: 50%;
}

.text h2{
    font-size: 28px;
    color: #262626;
}

.form{
    width: 50%;
}

.form input{
    width: 75%;
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    margin-bottom: 0px;
}

.footer--button{
    width: 15%;
    position: relative;
    top: 2px;
    left: -4px;
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    border-radius: 0 0.5rem 0.5rem 0;
}

.footer--bottom{
    background-color: #262626;
    display: flex;
    padding: 0 100px;
}

.footer--item{
    width: 25%;
    
}

.footer-item a{
    color: #636363;
    font-size: 16px;
}

.footer--contact i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    font-weight: 700;
    margin-right: 10px;
    color: white;
}

.footer--contact li{
    display: flex;
    padding: 10px 0;
}

.footer--contact span{
    color: #fff;
}

.footer--list{

}

.footer--list li{
    list-style: none;
    padding: 10px 0;
}

.footer--list a{
    color: #636363;
    font-size: 16px;
    text-decoration: none;
    transition: all .5s;
}

.footer--item i{
    margin-right: 10px;
}

.footer--list a:hover{
    color: white;
}

.footer--copyright{
    display: flex;
    justify-content: space-between;
    background-color: #1f343b;
    padding: 10px 0;
    color: white;
}

.copy--left{
    margin-left: 200px;
}

.copy--left span{
    color: #f55f8d;
}

.copy--right{
    margin-right: 200px;
}


   

.copy--right a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    font-size: 14px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.5s;;
}

.copy--right a:hover{
    background-color: #f55f8d;
}

body .backToTop{
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
   
}



